<h2> Ses Curiosités </h2>
<section id="curiosities">
    <div class="container">
      <% @my_curiosities.each_with_index do |curiosity, index| %>
        <% if index == 0 || index == 4 %>
          <div class="row">
        <% end %>
          <div class="col-sm-3">
            <div class="item">
              <a href="<%= curiosity.image_url %>" target="_blank">
                <img class="picture" title="<%= curiosity.image_text %>" alt="<%= curiosity.image_text %>" src="<%= curiosity.image_url %>"></img>
              </a>
            </div>
            <h3><%= curiosity.name %></h3>
            <p><%= curiosity.description %></p>
          </div> <!-- end .col-sm-3 -->
        <% if index == 3 || index == 7 %>
          </div> <!-- end .row -->
        <% end %> <!-- end if -->
      <% end %> <!-- end each_with_index -->
    </div> <!-- end .container -->
</section>